
.mydiv{
    margin-left: 137px;
    margin-top: 21px;
    display: inline-block;
    vertical-align: middle;
}

li{
    color:#000;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    margin-left: 35px;
}
.myimage{
    display: inline-block;
    margin-left: 20px;
    margin-top: 11px;
  vertical-align: middle;
}